{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>PV Research Group</title>
		<link rel="stylesheet" href="{% static 'solarpvstyle.css' %}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script type="text/javascript">
			//Whenever you're ready!
			$(document).ready(function() {
				//NAV
				//Content dropdowns on hover
				$(".nav #nav_list li .dropdown_nav, .hidden_nav").hover(function() {
					let dropdown_pointer = $(this).attr('id');
					$(".nav #nav_list li #" + dropdown_pointer).show();
				}, function() {
					$(".nav #nav_list li .hidden_nav").hide();
				});

				//SIGN IN AND REGISTRATION
				//If user clicks the sign in button, show the sign in/registration form
				$(".nav #sign_in").click(function() {
					$(".sign_in_form #sign_in_form").show();
				});
				
				//If while signing in OR registering and x is pressed, close
				$(".sign_in_form #sign_in_close").click(function() {
					$(".sign_in_form #sign_in_form").hide();
				});

				//CONTENT
				//slideshow information
				var slideshow = ["{% static 'pvGoat.jpg' %}", "{% static 'pvGeorgia.jpg' %}", "{% static 'pvDesert.jpg' %}"];
				var slideshow_ind = 0;
				var update_slide = function() {
					slideshow_ind++;
					if (slideshow_ind >= slideshow.length) { slideshow_ind = 0; }
					$(".content .content_center #slideshow").css("background-image", "url(" + slideshow[slideshow_ind] + ")");
				}
				//else if timeout update slideshow
				setInterval(update_slide, 10000);
				//if next is clicked, update slideshow
				$(".content .content_center #slideshow #next").click(function() {
					update_slide();
					setInterval(update_slide, 10000);
				});

				//This, when the user scrolls, allows the navigation to stay at the top but hide the logo
				//PRE: Get the offset position of the navbar
				//Errors with this include page size changes
				var sticky = $(".nav").offset().top;
				$(window).scroll(function() {
					if (window.pageYOffset >= sticky * 0.9) {
					  $(".nav").addClass("sticky")
					} else {
					  $(".nav").removeClass("sticky");
					}
				});
			});
		</script>
	</head>
	<body>
		<!-- The page header, with title, slogan, logo -->
		<div class="header">
			<div class="left_block">
				<a href="{% url 'index' %}">
					<img src="{% static 'pvrgLogo.svg' %}" alt="PV Research Group">
				</a>
			</div>
			<div class="right_block">
				<p><em>Making a better tomorrow through better solar systems</em></p>
			</div>
		</div>

		<!-- The page navigation, with multiple links to other pages -->
		<div class="nav">
			<!-- Basic navigation list, inline -->
			<ul id="nav_list">
				<li>
					<a href="#">Racks & Trackers</a>
				</li>
				<li>
					<a href="#" class="dropdown_nav" id="pv_module">PV Module</a>
					<!-- Hidden social media links in 'Contact' link -->
					<ul class="hidden_nav" id="pv_module">
						<li><a href="{% url 'find_cert' %}">Testing & Certification</a></li>
						<br>
						<li><a href="#">PV Rating</a></li>
					</ul>
				</li>
				<li>
					<a href="#" class="dropdown_nav" id="pv_system">PV Systems</a>
					<!-- Hidden social media links in 'Contact' link -->
					<ul class="hidden_nav" id="pv_system">
						<li><a href="#">Monitoring & Inspection</a></li>
						<br>
						<li><a href="#">Performance Analysis</a></li>
						<br>
						<li><a href="#">Compare Systems</a></li>
						<br>
						<li><a href="#">Certification</a></li>
					</ul>
				</li>
				<li>
					<a href="#" class="dropdown_nav" id="data_analytics">Data Analytics</a>
					<!-- Hidden social media links in 'Contact' link -->
					<ul class="hidden_nav" id="data_analytics">
						<li><a href="#">Module Lifetime Prediction</a></li>
						<br>
						<li><a href="#">Energy Production</a></li>
					</ul>
				</li>
				<li>
					<a href="#">Cybersecurity</a>
				</li>
				<li>
					<a href="#">Solar PV University</a>
				</li>
			</ul>
			<!-- Sign in button, staying on the navigation bar -->
			<a id="sign_in">Sign In</a>
		</div>

		<!-- The page's main content, split into three columns -->
		<div class="content">
			<!-- Featured content -->
			<div class="content_center">
				<div id="slideshow">
					<input type="button" id="next" value="next">
				</div>
				<h1>It's all over! Global warming means no more sun!</h1>
				<h3>June 3, 2025</h3>
				<br>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac pellentesque metus. Nunc rutrum ultricies ipsum eu sollicitudin. In sed dignissim justo. Nunc feugiat blandit erat vitae vulputate. Donec non dignissim urna. Aenean malesuada non nulla at consequat. Aliquam at fermentum quam. Fusce ullamcorper euismod elementum. Aenean fringilla consequat rhoncus. Fusce at velit maximus, tincidunt est sed, fringilla nulla. Suspendisse interdum condimentum lacinia. Proin eget faucibus sem. Vivamus ac consectetur ligula. In augue dui, rutrum at maximus sed, ullamcorper vel arcu.</p>
				<br>
				<p>In ut ante enim. Donec magna tortor, posuere at gravida non, efficitur convallis purus. Mauris tincidunt laoreet augue, eu finibus nunc porttitor quis. Duis in turpis aliquam, ornare dui et, efficitur mi. Morbi sit amet metus volutpat, vehicula magna eu, molestie dui. Aliquam erat volutpat. Ut eget elementum ipsum. Phasellus sed dui auctor, dignissim lorem non, gravida tellus. Quisque eget fringilla lacus, nec condimentum eros. Sed ut molestie ipsum. Proin semper, nisi eget tincidunt vehicula, nunc dolor tincidunt risus, quis mattis metus sapien ut massa.</p>
			</div>
			<!-- News & Events (RSS feed?) -->
			<div class="content_right">
				<!-- Random 'links' to nowhere of current events -->
				<!-- ideally an RSS feed situation, but I have not set one up before -->
				<a href="#">
					<em>Big ol' solar panels, coming your way</em>
					<p>July 4, 2025</p>
				</a>
				<br><br>
				<a href="#">
					<em>Biofuels pave the way of green energy</em>
					<p>July 1, 2025</p>
				</a>
				<br><br>
				<a href="#">
					<em>Trump does something crazy... again!</em>
					<p>June 24, 2025</p>
				</a>
				<br><br>
				<a href="#">
					<em>Fun in the sun means power for everyone!</em>
					<p>June 10, 2025</p>
				</a>
				<br><br>
				<a href="#">
					<em>Australia continues to burn</em>
					<p>May 19, 2025</p>
				</a>
				<br><br>
				<a href="#">
					<em>California finally detaches from US mainland</em>
					<p>May 18, 2025</p>
				</a>
				<br><br>
			</div>
		</div>

		<!-- The hidden sign in and registration form for users to interact with -->
		<div class="sign_in_form">
			<div id="sign_in_form">
				<a href="#" id="sign_in_close">X</a>
				<h4>Sign in</h4>
				<form method="POST" action="{% url 'sign_in' %}">
					{% csrf_token %}
					<table>
						<tr>
							<td>Username</td>
							<td>{{ form.user_name }}</td>
						</tr>
						<tr>
							<td>Password</td>
							<td>{{ form.password }}</td>
						</tr>
						<tr>
							<td></td>
							<td><button id="submit" value="Submit" type="submit">Login</td>
						</tr>
					</table>
				</form>
				<a href="{% url 'register' %}" id="sign_in_register">New here? Register!</a>
			</div>
		</div>

		<!-- The page footer, with copyright information and other contact links -->
		<div class="footer">
			<h4>PV Research Group</h4>
			<p>©2020 All Rights Reserved</p>
			<br>
			<h4>Contact Us</h4>
			<ul>
				<li>1234 Sunny Lane, Spartanburg, SC, 29302</li>
				<li>| (864)-507-7344 |</li>
				<li>questions@pvrg.com</li>
			</ul>
		</div>
	</body>
</html>